#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.pin_image
				= image_tag @pin.image.url
			.panel-body
				%h1= @pin.title
				%p.description= @pin.description
			.panel-footer
				.row
					.col-md-6
						%p.user
							= @pin.user.name
							님께서 공유하신 Pin입니다.
					.col-md-6
						.btn-group.pull-right
							= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do
								%span.glyphicon.glyphicon-heart
								= @pin.get_upvotes.size
							- if user_signed_in?
								= link_to "수정", edit_pin_path, class: "btn btn-default"
								= link_to "삭제", pin_path, method: :delete, data: { confirm: "하나하나가 소중한 Pin압나다. 정말로 삭제하시겠습니까?" }, class: "btn btn-default"
			.panel-footer
				%p.comments_title
					- if @pin.comments.count != 0
						= @pin.comments.count
						명의 의견이 있습니다.
				#comments
					= render :partial => @pin.comments
				= simple_form_for [@pin, Comment.new]  do |f|
					.field
						= f.text_area :body, class: "form-control comment"
						%br/
					= f.submit "댓글 달기", class: "btn btn-primary"